# Server
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://cdn_user:tu_password_seguro_aqui@localhost:5432/cdn_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=cambia_esto_por_un_secret_aleatorio_largo
JWT_EXPIRES_IN=7d

# Storage
STORAGE_PATH=/home/jleon/2026/PUCP/GTR/CDN/storage
MAX_FILE_SIZE=524288000

# FFmpeg
FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe
